
a {
  text-decoration: none !important;
}

.form-pin{
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    max-width: 30rem;
    margin-left: 8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}


@media screen and (max-width: 450px) {

        .img-fluid {
          height: auto;
          max-width: 15rem !important;
      }

        nav p{
            display: none;
        }
        #navbarNav {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 999;
        }
        a {
          text-decoration: none !important;
        }
        .navbar-toggler {
          padding: 0.25rem 0.75rem;
          font-size: 1.25rem;
          line-height: 1;
          background-color: white !important;
          border: 1px solid transparent;
          border-radius: 0.25rem;
      }

      .form-pin{
        background-color: rgb(255, 255, 255);
        padding: 16px;
        border-radius: 4px;
        max-width: 30rem;
        margin-left: 0rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    }


}

@media (max-width: 767px) and (max-resolution: 120dpi) {
  .form-pin{
    background-color: rgb(255, 255, 255);
    padding: 1px;
    border-radius: 4px;
    max-width: 30rem;
    margin-left: 8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}
}