* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url(https://images.unsplash.com/photo-1638272181967-7d3772a91265?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;

}


.form-pin{
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    max-width: 30rem;
    margin-left: 8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}


@media screen and (max-width: 450px) {

        .img-fluid {
          height: auto;
          max-width: 15rem !important;
		  margin-top: -5rem !important;
      }

        nav p{
            display: none;
        }

        .navbar-toggler {
          padding: 0.25rem 0.75rem;
          font-size: 1.25rem;
          line-height: 1;
          background-color: white !important;
          border: 1px solid transparent;
          border-radius: 0.25rem;
      }

      .form-pin{
        background-color: rgb(255, 255, 255);
        padding: 16px;
        border-radius: 4px;
        max-width: 30rem;
        margin-left: 0rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    }


}