{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link href="{% static 'evento/css/chat.css' %}" rel="stylesheet" >
{% endblock %}

{% block 'conteudo' %}
<section class="section-1">
    <div class="section-1-main">
        <nav>
            <div class="container ">
                <img src="{% static 'evento/img/logo.png' %}" alt="Logo" class="mr-2" height="70" width="70">
                <h4 class="d-inline" style="color: white;">Perguntas - {{evento.nome}}</h4>
            </div>
            <div class="nav-links">
                <ul>
                    {% comment %} <li><a href="#">Entrar</a></li> {% endcomment %}
                    {% comment %} <li><a href="#" class="product-link">Criar evento &#8211; <span>Gratis</span></a></li> {% endcomment %}
                    <li><a href="{% url 'evento:qrcode' evento.id %}" class="btn btn-info product-link">Qr-Code</a></li>
                </ul>
            </div>
            
            <div class="nav-mobile-menu-btn">
                
                <img src="https://rvs-product-landing-page.vercel.app/Assets/Hamburger-Menu.svg" alt="" id="mobile-menu-btn">
            </div>
        </nav>
  </section>
<!-- Chat container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 imagem">
            <img src="{% static 'evento/img/mandaAboa.png' %}" alt="QR Code" class="mx-auto" height="480" width="524" >
        </div>
        
        <div class="col-lg-9 chat-container mt-3">
            <!-- Chat messages -->
            {% for chat in  chat %}
            <div class="chat-msg">
                <div class="msg-header">
                    <img src="{% static 'evento/img/logo-dialogo.png' %}" alt="User" class="mr-2">
                    <h6><strong>{{chat.nome}}</strong></h6>
                </div>
                <div class="msg-body alert alert-primary">
                    {{chat.pegunta}}. 
                </div>
                <h5>Pergunta para: <strong>{{chat.palestrante}}</strong></h5>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Footer -->
<footer class=" text-light py-2">
    <div class="col-sm-12 col-md-12 mx-auto text-center linkedin sticky-footer" style="position: absolute; bottom: 0" >
        <a href="https://www.linkedin.com/in/emerson-messias/" target="_blank" style="color: white;">
           Desenvolvido por: <i class="bi bi-linkedin"></i> <strong >Emerson Messias</strong> <br><br>
        </a>
      </div>
</footer>
{% endblock %}