{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link href="{% static 'evento/css/eventos.css' %}" rel="stylesheet" >
{% endblock %}

{% block 'conteudo' %}
<section class="section-1">
  <div class="section-1-main">
      <nav>
          <div class="nav-logo">
              <a href="{% url 'evento:home' %}"><img src="{% static 'evento/img/logo.png' %}" alt="" height="70" width="100"></a>
          </div>
          <div class="nav-links">
              <ul>
                  <li><a href="{% url 'evento:home' %}">INICIO</a></li>
              </ul>
          </div>
          
          <div class="nav-mobile-menu-btn">
              
              <img src="https://rvs-product-landing-page.vercel.app/Assets/Hamburger-Menu.svg" alt="" id="mobile-menu-btn">
          </div>
      </nav>
</section>
<div id="login-panel">
    <p class="text-center">
        <img src="{% static 'evento/img/mandaAboa.png' %}" height="380" width="424" />
    </p>
      <form action="" method="POST">
          {% csrf_token %}
          <input type="text" id="user" name="nome" placeholder="PIN do evento">
          <br>
          <button type="submit" class="login-button">ACESSAR</button>
      </form>
      
  </div>
</div>
  <div class="col-sm-12 col-md-12 mx-auto text-center linkedin sticky-footer" style="position: absolute; bottom: 0" >
      <a href="https://www.linkedin.com/in/emerson-messias/" target="_blank" style="color: white;">
         Desenvolvido por: <i class="bi bi-linkedin"></i> <strong >Emerson Messias</strong> <br><br>
      </a>
    </div>
{% endblock %}