{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link href="{% static 'evento/css/pergunta.css' %}" rel="stylesheet" >
{% endblock %}

{% block 'conteudo' %}
<section class="section-1">
    <div class="section-1-main">
        <nav>
            <div class="container imagem-nav text-left">
                <a href="{% url 'evento:home'%}">
                    <img src="{% static 'evento/img/logo.png' %}" alt="Logo" class="mr-2" height="70" width="70">
                </a>
                <h4 class="d-inline" style="color: white;">{{evento.nome}}</h4>
            </div>           
       </nav>
  </section>
<div id="login-panel">
    <p class="text-center imagem-pergunta">
        <img  src="{% static 'evento/img/mandaAboa.png' %}" height="280" width="324" />
    </p>
    <h3>Faça sua pergunta</h3>
    <form action="{% url 'evento:faz_pergunta' evento.id %}" method="POST" class='form-pergunta'>
        {% csrf_token %}
        <input type="text" id="user" name="nome" placeholder="Digite seu nome">
        <br>
        <select id="pessoa" placeholder="Palestrante" name="palestrante">
            <option value="">Para quem quer fazer a pergunta?</option>
            {% for palestrante in palestrante  %}
            <option value="{{palestrante.nome}}">{{palestrante.nome}}</option>
            {% endfor %}
        </select>
        <br>
        <textarea id="pergunta" placeholder="Pergunta" name="pergunta" rows="4" cols="50"></textarea>
        <hr>
        <button type="submit" class="login-button">Enviar Pergunta</button>
    </form>
    
</div>

{% endblock %}