{% extends 'base-form.html' %}
{% load static %}

{% block 'css' %}
<link href="{% static 'evento/css/eventos.css' %}" rel="stylesheet" >
{% endblock %}

{% block 'navBar' %}
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light ">
		<div class="container">
            <a href="{% url 'evento:home' %}"><img src="{% static 'evento/img/logo.png' %}" alt="" height="70" width="70"></a>
            <p style="color: white;">MANDA A BOA!</p>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon" ></span>
			</button>
			<div class="collapse navbar-collapse ml-auto" id="navbarNav" >
				<ul class="navbar-nav ml-auto" style="color: white;">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'evento:chat' evento.id %}" style="color: white;">Chat de perguntas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'usuario:admin_palestrante' %}" style="color: white;">Area Admin</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block 'conteudo' %}
	<!-- Conteúdo principal -->
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="{% static 'evento/img/mandaAboa.png' %}" height="280" width="324" class="img-fluid">
			</div>
		</div>

		<div class="row mt-4 text-center">
			<div class="col-md-6 offset-md-3 center">
        <h2 style="color: white;">mandaboa.tech/eventos </h2>
        <h3 style="color: white;">Pin do Evento: {{evento.pin}}</h3>
        <img src="{{evento.qrCode.url }}" height="200" width="200" />
			</div>
		</div>
	</div>
{% endblock %}