* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url(https://images.unsplash.com/photo-1638272181967-7d3772a91265?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
}
.form-pergunta{
	z-index: 9999 !important;
}
#login-panel, #signup-panel {
	position: absolute;
	width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}
#signup-panel {
	visibility: hidden;
}
#login-panel h3, #signup-panel h3 {
	font-size: 26px;
	margin-bottom: 15px;
}
form {
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
input, button {
	width: 100%;
	height: 50px;
	margin: 3px;
  color: #05141D;
	border-radius: 6px;
	border: 1px solid #aaa;
	text-align: center;
	background-color: white;
}

textarea, button {
	width: 100%;
	height: 100%;
	margin: 3px;
  color: #05141D;
	border-radius: 9px;
	border: 1px solid #aaa;
	text-align: center;
	background-color: white;
}
select, button {
	width: 100%;
	height: 5rem;
	margin: 3px;
  color: #071620;
	border-radius: 9px;
	border: 1px solid #aaa;
	text-align: center;
	background-color: white;
}
option, button {
	width: 100%;
	height: 5rem;
	margin: 3px;
  color: #05141D;
	border-radius: 9px;
	border: 1px solid #aaa;
	text-align: center;
	background-color: white;
}

input:focus {
	border-color: #2980b9;
	box-shadow: 0 0 5px #2980b9;
}
.signup-button:focus {
	border-color: #06883B;
	box-shadow: none;
}

.signup-button, .login-button {
	cursor: pointer;
	border: none;
	background-color: #1297E0;
	color: white;
  height: 5rem;
	margin-top: 5px;
	border-bottom: 2px solid #0267A0;
}

form .login-button:active {
	background-color: #1277B0;
	border-color: #024780;
}
#signup-panel .signup-button {
	width: 100%;
}
label {
	text-align: center;
	color: white;
	margin-top: 15px;
}
label a {
	color: #22A7F0;
	text-decoration: none;
}

@media screen and (max-width: 832px) {
	#login-panel, #signup-panel {
		width: 245px;
	}
	label {
		width: 80%;
	}

}

@media screen and (max-width: 450px) {
	img {
    margin-left: -9rem;
	}
	body {
		background-image: url(https://images.unsplash.com/photo-1638272181967-7d3772a91265?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		height: 104.5vh;
		overflow-x: hidden;
	  }
	  .section-1 .imagem-nav {
		margin-left: 10rem;
		align-items: center;
	}
	.QR-CODE-MOBILE{
		margin-left: 7rem;
		
	}
	.mandaboa{
		margin-left: 2rem;
		margin-top: 5rem;
	}
}
.section-1 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.section-1 .section-1-main {
    width: 80%;
    padding: 50px 0px 0px 0px;
}
.section-1 .section-1-main nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1 .section-1-main nav .nav-logo img, main .section-1 .section-1-main nav .nav-links ul li a img {
    display: block;
}
.section-1 .section-1-main nav .nav-links ul {
    display: flex;
    column-gap: 25px;
    list-style-type: none;
    align-items: center;
}
.section-1 .section-1-main nav .nav-links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}
.section-1 .section-1-main nav .nav-mobile-menu-btn {
    cursor: pointer;
    display: none;
}
.section-1 .section-1-main nav .nav-mobile-menu-btn img {
    display: block;
}
.section-1 .section-1-main .section-content {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}
.section-1 .section-1-main .section-content .section-1-title {
    font-size: 40px;
    line-height: 42px;
    text-align: center;
}
.section-1 .section-1-main .section-content .section-1-desc, main .section-1 .section-1-main .section-content .section-1-alt-txt {
    color: #ffffff;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}
.section-1 .section-1-main .section-content .section-1-img {
    margin-top: 50px;
    width: 100%;
}


/* Estilos para telas com zoom de 70% */
@media (max-width: 767px) and (max-resolution: 77dpi) {
  /* Estilos para telas com zoom de 70% aqui */
}

/* Estilos para telas com zoom de 80% */
@media (max-width: 767px) and (max-resolution: 96dpi) {
  /* Estilos para telas com zoom de 80% aqui */
}

/* Estilos para telas com zoom de 90% */
@media (max-width: 767px) and (max-resolution: 108dpi) {
  /* Estilos para telas com zoom de 90% aqui */
}

/* Estilos para telas com zoom de 100% */
@media (max-width: 767px) and (max-resolution: 120dpi) {
  /* Estilos para telas com zoom de 100% aqui */
}

